<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CipoZapp</title>

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap"
            rel="stylesheet">

        <!-- FontAwesome -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">

        <!-- My Css -->
        <link rel="stylesheet" href="./assets/css/style.css">

    </head>
    <body class>
        <!-- #App vuejs -->
        <div id="app">

            <div class="container pt-4">
                <div class="row">
                    <!-- left column -->
                    <div class="col-4 bg-light p-0">
                        <!-- card header -->
                        <div
                            class="card-header d-flex justify-content-between align-items-center">
                            <div class="your_profile p-2">
                                <img src="./assets/img/avatar_io.jpg">
                                <span class="ps-3">You</span>
                            </div>
                            <!-- card header controls -->
                            <div class="app_controls">
                                <a href="#" class="text-success">
                                    <i class="fa-solid fa-circle-notch"></i>
                                </a>
                                <a href="#" class="text-success px-4">
                                    <i class="fa-solid fa-message"></i>
                                </a>
                                <a href="#" class="text-success pe-4">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>
                        <!-- card notifications -->
                        <div id="notifications"
                            class="bg-black p-2 d-flex align-items-center border border-light">
                            <!-- notifications image -->
                            <div class="icon bg-info rounded-5 p-3 text-center">
                                <i
                                    class="fa-solid fa-bell-slash fa-xl text-light"></i>
                            </div>
                            <!-- notifications controls -->
                            <div class="texts text-light ps-3">
                                <span>Ricevi notifiche per i nuovi messaggi</span>
                                <br>
                                <a href="#" class="text-secondary">Attiva
                                    notifiche desktop</a>
                            </div>
                        </div>
                        <!-- card searchbar -->
                        <div
                            class="card_searchbar p-2 d-flex align-items-center">
                            <input class="form-control me-2" type="search"
                                placeholder="Search user or start a new chat"
                                aria-label="Search">
                        </div>
                        <!-- cardbody -->
                        <div class="card-body py-1">
                            <!-- contact chats generator -->
                            <div class="d-flex justify-content-between"
                                v-for="(contact, i) in contacts"
                                @click="showChat(i)">
                                <div class="p-2 d-flex">
                                    <img :src="contact.avatar">
                                    <div
                                        class="texts_contact d-flex flex-column">
                                        <span>
                                            {{contact.name}}
                                        </span>
                                        <span class="text-secondary last_txt">
                                            {{contact.messages[contact.messages.length
                                            - 1].message}}
                                        </span>
                                    </div>
                                </div>
                                <span id="last_txt_date"
                                    class="text-secondary text-end py-2 pe-3">
                                    {{timeStamp(contact.messages[contact.messages.length -
                                    1].date)}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- right column -->
                    <div class="col-8 p-0 bg-light border-start">
                        <div class="wrapper">
                            <!-- card header -->
                            <div
                                class="card-header d-flex justify-content-between align-items-center border-bottom">
                                <!-- contact infoss -->
                                <div class="contact profile p-2 d-flex">
                                    <img :src="contacts[activeChat].avatar">
                                    <!-- contact infos -->
                                    <div class="d-flex flex-column ps-3 pt-1">
                                        <span>{{contacts[activeChat].name}}</span>
                                        <span class="text-secondary"></span>
                                    </div>
                                </div>
                                <!-- card header controls -->
                                <div class="app_controls">
                                    <a href="#" class="text-success">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                    <a href="#" class="text-success px-4">
                                        <i class="fa-solid fa-paperclip"></i>
                                    </a>
                                    <a href="#" class="text-success pe-4">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- chat space -->
                            <div class="chat_space d-flex flex-column p-5">
                                <div class="chat_cloud px-3 mb-3 rounded-4"
                                    :class="(message.status === 'sent' ? 'sent' : 'received')"
                                    v-for="message in contacts[activeChat].messages">
                                    <div class="cloud_text py-3">
                                        <span>
                                            {{message.message}}
                                        </span>
                                    </div>
                                    <div
                                        class="cloud_date text-end text-secondary">
                                        <span>
                                            {{timeStamp(message.date)}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- input text to chat -->
                            <div
                                class="input_chat d-flex justify-content-around align-items-center p-2">
                                <a href="#" class="text-success">
                                    <i class="fa-regular fa-face-smile fa-xl"></i>
                                </a>
                                <input type="text" name id
                                    class="w-75 p-1 border rounded-3"
                                    placeholder="Text" v-model="newMessage"
                                    @keyup.enter="sendMessage(newMessage, activeChat)">
                                <a href="#" class="text-success">
                                    <i class="fa-solid fa-microphone fa-xl"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- VueJS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- My Js -->
        <script src="./assets/js/main.js"></script>
    </body>
</html>