body {
    font-family: 'Josefin Sans', sans-serif;
    background: #06eff5 linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(123,0,144,1) 51%, rgba(6,239,245,1) 96%);
    background-repeat: no-repeat;
    height: 150px;
}

.col-4 img, .col-8 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.last_txt, #last_txt_date  {
    font-size: 13px;
}

.chat_space {
    background-image: url(../img/mine.jpg);
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.chat_space::-webkit-scrollbar {
    display: none;
}

.cloud_date span {
    font-size: 12px;
}

.input_chat {
    height: 50px;
}

.sent {
    width: 350px;
    background-color: lightgreen;
    align-self: flex-end;
}

.received {
    width: 300px;
    background-color: lightcoral;
    align-self: flex-start;
}



